<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VCWN639LZ4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VCWN639LZ4');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '440631876973069');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=440631876973069&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta charset="UTF-8">
    <title>Cross-chain Loans | A Decentralized Lending Marketplace Across Blockchains</title>
    <!-- Enable Zoom on Mobile Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:image" content="#" />

    <!-- Favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= host %>/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= host %>/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= host %>/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= host %>/assets/images/favicon/site.webmanifest">
    <link rel="icon" href="<%= host %>/assets/img/favicon.png">

    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700" rel="stylesheet">
    <link href="assets/dist/fonts/SFProDisplay.css" rel="stylesheet">
    <!-- Style CSS -->
    <link rel="stylesheet" href="<%= host %>/assets/dist/css/app.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
    <link rel="stylesheet" href="<%= host %>/assets/css/white-theme.css">
    <style>
        * {
            /* font-family: 'IBM Plex Mono', monospace; */
            font-family: 'Poppins', sans-serif;
        }

        a {
            color: rgb(50, 204, 221);
        }

        a:hover {
            color: #a93aff;
        }

        .footer-three .footer .footer-social li {
            background-color: black;
        }

        .footer-three .footer .footer-social li:hover {
            background: #32CCDD;
        }

        .footer-three .footer .footer-widget li a:hover,
        .footer-three .footer-bottom-nav a:hover {
            color: #32CCDD;
        }

        .db-btn__outline:before {
            background: black;
            color: white;
        }

        .hero-thirteen {
            background: url(assets/images/bg.jpg);
        }

        .btn:hover,
        .btn:active,
        .btn:not(:disabled):not(.disabled):active,
        .btn:not(:disabled):not(.disabled).active {
            color: white;
            background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        }

        .btn:focus,
        .btn.focus {
            box-shadow: 0 0 0 0.2rem rgb(0 255 230 / 25%);
        }

        .navigation.sticky-nav {
            background-color: black;
        }

        .navigation-main__logo,
        .navigation.sticky-nav .sticky-nav__logo {
            height: 30px;
        }

        .features-four .feature {
            margin-right: 0px !important;
            align-items: center !important;
        }

        .features-four .feature__icon {
            margin-right: 0px !important;
            align-items: center !important;
        }

        @media only screen and (min-height: 1180px) {
            .hero-seven .hero-content {
                padding-top: 26.875rem !important;
            }


        }

        @media only screen and (min-width: 992px) and (max-width: 1920px) and (max-height: 1920px) {
            .hero-seven .hero-content {
                padding-top: 22.5% !important;
            }

            /* .hero-media {
                display: block !important;
            } */

        }

        @media only screen and (min-width: 1150px) and (max-width: 1450px) and (max-height: 1200px) {
            .hero-seven .hero-content {
                padding-top: 15% !important;
            }

            /* .hero-media {
                display: block !important;
            } */

        }

        @media only screen and (max-width: 992px) {
            #header {
                height: auto !important;
            }

            .hero-media {
                display: flex !important;
            }

            .features-four {
                margin-bottom: 0px !important;
                border-bottom: none !important;
            }

            .switchable {
                margin-bottom: 0px !important;
                border-bottom: none !important;
            }

            #mobile-mockup {
                margin-right: 0px !important;
            }
        }

        .feature__title {
            margin-top: 1.25rem;
        }

        ::selection {
            background: #a93aff;
            color: white;
        }

        .launch-app-btn {
            font-size: 18px !important;
            border-radius: 50px;
        }
    </style>
</head>

<body class="stretched">

    <div id="root" class="main-wrapper home-13 layout-strong"></div>
    
    <!-- Main JS Files -->
    <script src="<%= host %>/assets/dist/js/app.min.js"></script>

    <!-- React -->
    <script src="<%= react_host %>/js/app.js"></script>
</body>

</html>